@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font: "Rubik", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

  
.container {
    display: grid;
    grid-template-columns: 0.8fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    border: 1px solid black;
    grid-column: 2/4;
}

.sidebar {
    grid-column: span 1;
    grid-row: 1/3;
    background-color: #1992d4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.main-content {
    border: 1px solid red;
    grid-column: span 2;
}
.sidebar > h2 {
    padding-left: 44px;
    margin-top: 20px;
}
.sidebar > .sidebar-items {
    list-style: none;
    padding-left: 44px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar > .sidebar-items > .sidebar-item {
    padding: 10px;
}

.sidebar > .sidebar-items-options {
    list-style: none;
    padding-left: 44px;
}

.sidebar > .sidebar-items-options > .sidebar-options {
    padding: 10px;
}


.sidebar > h2 > i {
    margin-right: 10px;
}

.sidebar > .sidebar-items > .sidebar-item > i {
    margin-right: 19px;
}

.sidebar > .sidebar-items-options > .sidebar-options > i {
    margin-right: 19px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.top-header input[type=text] {
    background-color: #1992d4;
}